<p-toast></p-toast>
<p-confirmDialog> </p-confirmDialog>

<div>
    <p-table
        #dt
        [value]="allLicense"
        [rowHover]="true"
        [rows]="10"
        [loading]="loading"
        styleClass="p-datatable-gridlines"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        responsiveLayout="scroll"
        [scrollable]="true"
        [filterDelay]="0"
        [globalFilterFields]="['']"
    >
        <ng-template pTemplate="caption">
            <div
                class="table-header flex justify-content-between align-items-center"
            >
                <span class="text-xl">List of License</span>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt.filterGlobal($event.target.value, 'contains')
                        "
                        placeholder="Global Search"
                    />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="is_active">
                    <div class="flex align-items-center">Status</div>
                </th>
                <th pSortableColumn="organization">
                    <div class="flex align-items-center">Organization</div>
                </th>
                <th pSortableColumn="licensor">
                    <div class="flex align-items-center">LICENSOR</div>
                </th>
                <th pSortableColumn="licensee">
                    <div class="flex align-items-center">LICENSEE</div>
                </th>

                <th pSortableColumn="licensetype">
                    <div class="flex align-items-center">LICENSEE TYPE</div>
                </th>

                <th pSortableColumn="datasource">
                    <div class="flex align-items-center">DATA SOURCE</div>
                </th>

                <th pSortableColumn="issuedate">
                    <div class="flex align-items-center">ISSUE DATE</div>
                </th>

                <th pSortableColumn="expiration">
                    <div class="flex align-items-center">EXPIRATION DATE</div>
                </th>

                <th pSortableColumn="action" style="min-width: 13rem">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        ACTIONS &nbsp;
                    </div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
            <tr class="p-selectable-row">
                <td class="text-base">
                    <p-inputSwitch
                        (onChange)="changeStatus(item, $event)"
                        [(ngModel)]="item.is_active"
                    ></p-inputSwitch>
                </td>

                <td class="text-base">
                    {{ item.organization }}
                </td>

                <td class="text-base">
                    {{ item.licensor }}
                </td>

                <td class="text-base">
                    {{ item.licensee }}
                </td>

                <td class="text-base">
                    {{ item.licensetype }}
                </td>

                <td class="text-base">
                    {{ item.datasource }}
                </td>

                <td class="text-base">
                    {{ item.issuedate | date : 'longDate' }}
                </td>

                <td class="text-base">
                    {{ item.expiration | date : 'longDate' }}
                </td>

                <td class="text-base" style="min-width: 13rem">
                    <span class="p-column-title">Actions</span>
                    <span>
                        <button
                            pButton
                            pRipple
                            title="Edit"
                            type="button"
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-info h-2rem"
                            (click)="openNew(item)"
                        ></button>
                        <button
                            pButton
                            pRipple
                            title="Download"
                            type="button"
                            icon="pi pi-download"
                            class="p-button-rounded p-button-info ml-2 h-2rem"
                            (click)="downloadLicense(item)"
                        ></button>
                        <button
                            pButton
                            pRipple
                            title="Email"
                            type="button"
                            icon="pi pi-send"
                            class="p-button-rounded p-button-info ml-2 h-2rem"
                            (click)="emailLicense(item)"
                        ></button>
                    </span>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No License found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<form
    *ngIf="licenseDialog"
    [formGroup]="licenseForm"
    (ngSubmit)="licenseForm.valid && licenseFormSubmit()"
>
    <p-dialog
        header="License Detail"
        [(visible)]="licenseDialog"
        [style]="{ width: '80vw' }"
    >
        <div class="grid">
            <div class="md:col-6 field">
                <label for="licensor">Licensor<sup>*</sup></label>
                <div>
                    <p-autoComplete
                        appendTo="body"
                        formControlName="licensor"
                        [dropdown]="true"
                        placeholder="Select Licensor"
                        [disabled]="true"
                        [style]="{ width: '100%' }"
                    ></p-autoComplete>
                </div>
            </div>

            <div class="md:col-6 field">
                <label for="licensee">Licensee<sup>*</sup></label>
                <div>
                    <p-autoComplete
                        appendTo="body"
                        formControlName="licensee"
                        [suggestions]="filteredOrg"
                        (completeMethod)="filterOrg($event)"
                        field="organization"
                        [dropdown]="true"
                        placeholder="Select Organisation"
                        [style]="{ width: '100%' }"
                    ></p-autoComplete>
                </div>
            </div>

            <div class="md:col-4 field">
                <label for="">License Type<sup>*</sup></label>
                <p-dropdown
                    appendTo="body"
                    formControlName="licensetype"
                    placeholder="License Type"
                    [options]="licenseType"
                    [style]="{ width: '100%' }"
                    optionLabel="name"
                    optionValue="code"
                ></p-dropdown>
            </div>

            <div class="md:col-4 field">
                <label for="">Issue Date<sup>*</sup></label>
                <p-calendar
                    appendTo="body"
                    placeholder="Issue Date"
                    formControlName="issuedate"
                    [style]="{ width: '100%' }"
                ></p-calendar>
            </div>

            <div class="md:col-4 field">
                <label for="">Expiration Date<sup>*</sup></label>
                <p-calendar
                    appendTo="body"
                    [minDate]="licenseForm.get('issuedate')?.value"
                    placeholder="Expiration Date"
                    formControlName="expiration"
                    [style]="{ width: '100%' }"
                ></p-calendar>
            </div>

            <div class="md:col-4 field">
                <label for="servername">Server Name <sup>*</sup></label>
                <input
                    formControlName="servername"
                    pInputText
                    [style]="{ width: '100%' }"
                />
            </div>

            <div class="md:col-4 field">
                <label for="datasource">Datasource <sup>*</sup></label>
                <input
                    formControlName="datasource"
                    pInputText
                    [style]="{ width: '100%' }"
                />
            </div>

            <div class="md:col-4 field">
                <label for="organisation">Organization <sup>*</sup></label>
                <input
                    formControlName="organisation"
                    type="number"
                    pInputText
                    [style]="{ width: '100%' }"
                />
            </div>

            <div class="md:col-4 field">
                <label for="department">Department <sup>*</sup></label>
                <input
                    formControlName="department"
                    type="number"
                    pInputText
                    [style]="{ width: '100%' }"
                />
            </div>

            <div class="md:col-4 field">
                <label for="script">Script <sup>*</sup></label>
                <input
                    formControlName="script"
                    type="number"
                    pInputText
                    [style]="{ width: '100%' }"
                />
            </div>

            <div class="md:col-4 field">
                <label for="connection">Connection <sup>*</sup></label>
                <input
                    formControlName="connection"
                    type="number"
                    pInputText
                    [style]="{ width: '100%' }"
                />
            </div>

            <div class="md:col-4 field">
                <label for="audit">Audit <sup>*</sup></label>
                <input
                    formControlName="audit"
                    type="number"
                    pInputText
                    [style]="{ width: '100%' }"
                />
            </div>

            <div class="md:col-4 field">
                <label for="ondemand_exc"
                    >On Demand Executions <sup>*</sup></label
                >
                <input
                    formControlName="ondemand_exc"
                    type="number"
                    pInputText
                    [style]="{ width: '100%' }"
                />
            </div>

            <div class="md:col-4 field">
                <label for="schedule_exc"
                    >Scheduled Executions<sup>*</sup></label
                >
                <input
                    formControlName="schedule_exc"
                    type="number"
                    pInputText
                    [style]="{ width: '100%' }"
                />
            </div>
        </div>

        <ng-template pTemplate="footer">
            <p-button
                type="reset"
                icon="pi pi-times"
                (click)="licenseDialog = false"
                label="Cancel"
                styleClass="p-button-secondary"
            ></p-button>
            <p-button
                type="submit"
                icon="pi pi-check"
                label="Save"
                styleClass="p-button-primary"
                [disabled]="licenseForm.invalid"
            ></p-button>
        </ng-template>
    </p-dialog>
</form>

<form
    *ngIf="emailDialog"
    [formGroup]="emailForm"
    (ngSubmit)="emailForm.valid && emailFormSubmit()"
>
    <p-dialog
        header="Email License"
        [(visible)]="emailDialog"
        [style]="{ width: '40vw' }"
    >
        <div class="field">
            <label for="to">To<sup>*</sup></label>
            <div>
                <input
                    formControlName="to"
                    pInputText
                    [style]="{ width: '100%' }"
                />
            </div>
        </div>

        <div class="field">
            <label for="cc">CC</label>
            <div>
                <input
                    formControlName="cc"
                    pInputText
                    [style]="{ width: '100%' }"
                />
            </div>
        </div>

        <div class="field">
            <label for="message">Message</label>
            <div>
                <input
                    formControlName="message"
                    pInputText
                    [style]="{ width: '100%' }"
                />
            </div>
        </div>

        <ng-template pTemplate="footer">
            <p-button
                type="reset"
                icon="pi pi-times"
                (click)="emailDialog = false"
                label="Cancel"
                styleClass="p-button-secondary"
            ></p-button>
            <p-button
                type="submit"
                icon="pi pi-send"
                label="Send"
                styleClass="p-button-primary"
                [disabled]="emailForm.invalid"
            ></p-button>
        </ng-template>
    </p-dialog>
</form>

<button
    pButton
    pRipple
    title="Add"
    type="button"
    icon="pi pi-plus"
    class="p-button-rounded p-button-lg fixed add-details"
    (click)="openNew(null)"
></button>
