<p-toast></p-toast>

<p-dialog
    #textDialog
    [header]="popupHeader"
    [(visible)]="showPopupText"
    [modal]="true"
>
    <ng-template pTemplate="content">
        <form [formGroup]="textDialogForm">
            <textarea
                autofocus
                name=""
                id=""
                cols="100"
                rows="40"
                formControlName="input"
            ></textarea>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Ok"
            icon="pi pi-check"
            class="p-button-text"
            (click)="showPopupText = false"
        ></button>
    </ng-template>
</p-dialog>

<p-confirmDialog> </p-confirmDialog>

<p-dialog [(visible)]="showPop" [header]="showPopTitle" [modal]="true">
    <ng-template pTemplate="content">
        <textarea [value]="showContent" cols="90" rows="40" disabled></textarea>
    </ng-template>
</p-dialog>

<div id="table1">
    <div class="card px-3 py-3">
        <p-table
            *ngIf="showTable"
            #dt
            [value]="risks"
            [(selection)]="selectedrisks"
            [rowHover]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            [loading]="loading"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [filterDelay]="0"
            [scrollable]="true"
            scrollHeight="calc(100vh - 305px)"
            [tableStyle]="{ 'min-width': '50rem' }"
            [globalFilterFields]="[
                'risk_uid',
                'auldesc',
                'process',
                'business_objective',
                'risk',
                'rtax1',
                'rtax2',
                'comment',
                'impact',
                'likelihood',
                'risk_score',
                'codetext'
            ]"
        >
            <ng-template pTemplate="caption">
                <div
                    class="table-header flex justify-content-between align-items-center"
                >
                    <span class="text-xl">List of Risk</span>
                    <span
                        class="flex justify-content-between align-items-center"
                    >
                        <span class="p-input-icon-left mr-5">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="
                                    dt.filterGlobal(
                                        $event.target.value,
                                        'contains'
                                    )
                                "
                                placeholder="Global Search"
                            />
                        </span>
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="risk_uid" style="min-width: 14rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            RISK UID
                            <p-sortIcon field="risk_uid"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="auldesc" style="min-width: 14rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            AU LEVEL 3 DESCRIPTION
                            <p-sortIcon field="auldesc"></p-sortIcon>
                        </div>
                    </th>
                    <th pSortableColumn="organization" style="min-width: 14rem">
                        <div class="flex align-items-center">
                            ORGANIZATION
                            <p-sortIcon field="organization"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="process" style="min-width: 14rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            PROCESS
                            <p-sortIcon field="process"></p-sortIcon>
                        </div>
                    </th>

                    <th
                        pSortableColumn="business_objective"
                        style="min-width: 14rem"
                    >
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            BUSINESS OBJECTIVE
                            <p-sortIcon field="business_objective"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="risk" style="min-width: 14rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            AUDIT RISK
                            <p-sortIcon field="risk"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="rtax1" style="min-width: 14rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            RISK CATEGORY
                            <p-sortIcon field="rtax1"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="rtax2" style="min-width: 14rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            RISK TYPE
                            <p-sortIcon field="rtax2"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="comment" style="min-width: 14rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            COMMENT
                            <p-sortIcon field="comment"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="impact" style="min-width: 14rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            IMPACT
                            <p-sortIcon field="impact"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="likelihood" style="min-width: 14rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            LIKELIHOOD
                            <p-sortIcon field="likelihood"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="risk_score" style="min-width: 14rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            RISK SCORE
                            <p-sortIcon field="risk_score"></p-sortIcon>
                        </div>
                    </th>

                    <th
                        pSortableColumn="risk_exposure"
                        style="min-width: 14rem"
                    >
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            RISK EXPOSURE
                            <p-sortIcon field="risk_exposure"></p-sortIcon>
                        </div>
                    </th>

                    <th
                        style="width: 120px"
                        class="justify-content-LEFT"
                        pFrozenColumn
                        alignFrozen="right"
                    >
                        ACTIONS
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item>
                <tr class="p-selectable-row">
                    <td class="text-base" style="min-width: 14rem">
                        <span class="p-column-title">Risk UID</span>
                        {{ item.risk_uid }}
                    </td>

                    <td class="text-base" style="min-width: 14rem">
                        <span class="p-column-title"
                            >AU level 3 Description</span
                        >
                        {{ item.auldesc }}
                    </td>
                    <td class="text-base" style="min-width: 14rem">
                        <span class="p-column-title">organization</span>
                        {{ item.organization }}
                    </td>

                    <td
                        class="text-base"
                        style="min-width: 14rem"
                        (click)="
                            utilService.getFullView('Process', item.process)
                        "
                        pTooltip="click to view more"
                        tooltipPosition="bottom"
                    >
                        <span class="p-column-title">Process</span>
                        {{ item.process.slice(0, 50) }}
                    </td>

                    <td
                        class="text-base"
                        style="min-width: 14rem"
                        (click)="
                            utilService.getFullView(
                                'Business Objective',
                                item.business_objective
                            )
                        "
                        pTooltip="click to view more"
                        tooltipPosition="bottom"
                    >
                        <span class="p-column-title">Business Objective</span>
                        {{ item.business_objective.slice(0, 50) }}
                    </td>

                    <td
                        class="text-base"
                        style="min-width: 14rem"
                        (click)="
                            utilService.getFullView('Audit Risk', item.risk)
                        "
                        pTooltip="click to view more"
                        tooltipPosition="bottom"
                    >
                        <span class="p-column-title">Audit Risk</span>
                        {{ item.risk.slice(0, 50) }}
                    </td>

                    <td class="text-base" style="min-width: 14rem">
                        <span class="p-column-title">Risk Category</span>
                        {{ item.rtax1 }}
                    </td>

                    <td class="text-base" style="min-width: 14rem">
                        <span class="p-column-title">Risk Type</span>
                        {{ item.rtax2 }}
                    </td>

                    <td class="text-base" style="min-width: 14rem">
                        <span class="p-column-title">Comment</span>
                        {{ item.comment.slice(0, 50) }}
                    </td>

                    <td class="text-base" style="min-width: 14rem">
                        <span class="p-column-title">Impact</span>
                        {{ item.impact }}
                    </td>

                    <td class="text-base" style="min-width: 14rem">
                        <span class="p-column-title">Likelihood</span>
                        {{ item.likelihood }}
                    </td>

                    <td class="text-base" style="min-width: 14rem">
                        <span class="p-column-title">Risk Score</span>
                        {{ item.risk_score }}
                    </td>

                    <td class="text-base" style="min-width: 14rem">
                        <span class="p-column-title">Risk Exposure</span>
                        {{ item.codetext }}
                    </td>

                    <td
                        style="width: 120px"
                        pFrozenColumn
                        class="font-bold"
                        alignFrozen="right"
                    >
                        <span class="p-column-title">Actions</span>
                        <span
                            ><button
                                pButton
                                pRipple
                                title="Edit"
                                type="button"
                                icon="pi pi-pencil"
                                class="p-button-rounded p-button-info"
                                (click)="editrisk(item)"
                            ></button>
                            <button
                                pButton
                                pRipple
                                title="Delete"
                                type="button"
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-info ml-2"
                                (click)="deleteSelectedrisks(item)"
                            ></button
                        ></span>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div *ngIf="!showTable">
            <h5>Risk Detail</h5>
            <!-- <ng-template pTemplate="content">

        {{ risk.organization }} -->
            <form [formGroup]="form">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-6">
                        <label for="department"
                            >Organisation <sup>*</sup></label
                        >
                        <p-autoComplete
                            appendTo="body"
                            formControlName="organization"
                            [suggestions]="filteredOrg"
                            (completeMethod)="filterOrg($event)"
                            field="organization"
                            [dropdown]="true"
                            placeholder="Select Organisation"
                            [style]="{ width: '100%' }"
                        ></p-autoComplete>
                    </div>

                    <div class="col-12 md:col-6">
                        <label for="au_level_3_uid"
                            >AU Level-3 <sup>*</sup></label
                        >
                        <p-autoComplete
                            formControlName="auldesc"
                            [ngModelOptions]="{ standalone: true }"
                            (onSelect)="doOnSelectaudit3($event)"
                            [autoHighlight]="true"
                            [forceSelection]="true"
                            [completeOnFocus]="true"
                            [minLength]="1"
                            placeholder="Search"
                            id="au_level_3_uid"
                            [dropdown]="true"
                            [suggestions]="filteredAuThird"
                            (completeMethod)="filterAuThird($event)"
                            required
                            autofocus
                            [(ngModel)]="risk.auldesc"
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && !form.controls.auldesc
                            }"
                        >
                        </p-autoComplete>
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="
                                form.controls.auldesc.invalid &&
                                form.controls.auldesc.dirty
                            "
                            >AU Level-3 is required.</small
                        >
                    </div>

                    <div class="col-12 md:col-6">
                        <label for="process">Process <sup>*</sup></label>
                        <input
                            formControlName="process"
                            [(ngModel)]="risk.process"
                            [ngModelOptions]="{ standalone: true }"
                            id="process"
                            pInputText
                            required
                            autofocus
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && !form.controls.process
                            }"
                            (click)="
                                getText(
                                    form.get('process').value,
                                    form,
                                    'process',
                                    'Process'
                                )
                            "
                        />
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="
                                form.controls.process.invalid &&
                                form.controls.process.dirty
                            "
                            >Process is required.</small
                        >
                    </div>
                    <div class="col-12 md:col-6">
                        <label for="business_objective"
                            >Business Objective <sup>*</sup></label
                        >
                        <input
                            formControlName="business_objective"
                            [ngModelOptions]="{ standalone: true }"
                            id="business_objective"
                            pInputText
                            required
                            autofocus
                            [(ngModel)]="risk.business_objective"
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted &&
                                    !form.controls.business_objective
                            }"
                            (click)="
                                getText(
                                    form.get('business_objective').value,
                                    form,
                                    'business_objective',
                                    'Business Objective'
                                )
                            "
                        />
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="
                                form.controls.business_objective.invalid &&
                                form.controls.business_objective.dirty
                            "
                            >Business Objective is required.</small
                        >
                    </div>

                    <div class="col-12 md:col-6">
                        <label for="comment">Comments <sup>*</sup></label>
                        <input
                            formControlName="comment"
                            [ngModelOptions]="{ standalone: true }"
                            id="comment"
                            pInputText
                            required
                            [(ngModel)]="risk.comment"
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && !form.controls.comment
                            }"
                            autofocus
                            (click)="
                                getText(
                                    form.get('comment').value,
                                    form,
                                    'comment',
                                    'Comments'
                                )
                            "
                        />
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="
                                form.controls.comment.invalid &&
                                form.controls.comment.dirty
                            "
                            >Comment is required.</small
                        >
                    </div>

                    <div class="col-12 md:col-6">
                        <label for="risk">Audit Risk <sup>*</sup></label>
                        <input
                            formControlName="risk"
                            [ngModelOptions]="{ standalone: true }"
                            id="risk"
                            [(ngModel)]="risk.risk"
                            pInputText
                            required
                            autofocus
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && !form.controls.risk
                            }"
                            (click)="
                                getText(
                                    form.get('risk').value,
                                    form,
                                    'risk',
                                    'Audit Risk'
                                )
                            "
                        />
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="
                                form.controls.risk.invalid &&
                                form.controls.risk.dirty
                            "
                            >Risk is required.</small
                        >
                    </div>
                    <!-- <div class="field col-12 md:col-4"></div> -->

                    <div class="col-12 md:col-4">
                        <label for="risk">Risk Category <sup>*</sup></label>
                        <p-autoComplete
                            formControlName="rtonedesc"
                            [ngModelOptions]="{ standalone: true }"
                            appendTo="body"
                            [(ngModel)]="risk.rtonedesc"
                            (onSelect)="doOnSelectrtax1($event)"
                            [autoHighlight]="true"
                            [forceSelection]="true"
                            [completeOnFocus]="true"
                            [minLength]="1"
                            placeholder="Search"
                            id="rt_level_1_uid"
                            [dropdown]="true"
                            [suggestions]="filteredRisktaxone"
                            (completeMethod)="filterRisktaxone($event)"
                            required
                            autofocus
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && !form.controls.rtonedesc
                            }"
                        >
                        </p-autoComplete>
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="
                                form.controls.rtonedesc.invalid &&
                                form.controls.rtonedesc.dirty
                            "
                            >Risk Category is required.</small
                        >
                    </div>

                    <div class="col-12 md:col-4">
                        <label>Risk Type <sup>*</sup></label>
                        <p-autoComplete
                            [disabled]="form.get('rtonedesc').value == null"
                            formControlName="rttwodesc"
                            [(ngModel)]="risk.rttwodesc"
                            [ngModelOptions]="{ standalone: true }"
                            (onSelect)="doOnSelectrtax2($event)"
                            [minLength]="1"
                            placeholder="Search"
                            id="rt_level_2_id"
                            [dropdown]="true"
                            [suggestions]="filteredRisktaxtwo"
                            (completeMethod)="filterRisktaxtwo($event)"
                            [autoHighlight]="true"
                            [forceSelection]="true"
                            [completeOnFocus]="true"
                            required
                            autofocus
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && !form.controls.rttwodesc
                            }"
                            [disabled]="!selectedrtax1?.length > 0"
                        >
                        </p-autoComplete>
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="
                                form.controls.rttwodesc.invalid &&
                                form.controls.rttwodesc.dirty
                            "
                            >Risk Type is required.</small
                        >
                    </div>

                    <div class="col-12 md:col-4">
                        <label for="risk_exposure"
                            >Risk Exposure <sup>*</sup></label
                        >
                        <p-autoComplete
                            [disabled]="!RiskExposure"
                            formControlName="coddesc"
                            (onSelect)="doOnSelectexposure($event)"
                            [autoHighlight]="true"
                            [forceSelection]="true"
                            [completeOnFocus]="true"
                            [minLength]="1"
                            placeholder="Search"
                            id="text_code_value"
                            [dropdown]="true"
                            [suggestions]="filteredRiskExposure"
                            (completeMethod)="filterRiskExposure($event)"
                            required
                            autofocus
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && !form.controls.coddesc
                            }"
                        >
                        </p-autoComplete>
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="
                                form.controls.coddesc.invalid &&
                                form.controls.coddesc.dirty
                            "
                            >Risk Exposure is required.</small
                        >
                    </div>

                    <div class="col-12 md:col-4">
                        <label for="impact">Impact <sup>*</sup></label>
                        <p-autoComplete
                            [disabled]="!impact"
                            formControlName="impact"
                            [(ngModel)]="risk.impact"
                            [ngModelOptions]="{ standalone: true }"
                            appendTo="body"
                            (onSelect)="doOnSelectimpact($event)"
                            [suggestions]="filteredlikelihood"
                            appendToBody="true"
                            [autoHighlight]="true"
                            [forceSelection]="true"
                            [completeOnFocus]="true"
                            [minLength]="1"
                            placeholder="Search"
                            id="rt_impact"
                            [dropdown]="true"
                            [suggestions]="filteredimpact"
                            (completeMethod)="filterimpact($event)"
                            required
                            autofocus
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && !form.controls.impact
                            }"
                        >
                        </p-autoComplete>
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="
                                form.controls.impact.invalid &&
                                form.controls.impact.dirty
                            "
                            >Impact is required.</small
                        >
                    </div>
                    <div class="col-12 md:col-4">
                        <label for="likelihood">Likelihood <sup>*</sup></label>
                        <p-autoComplete
                            [disabled]="form.get('organization').value == null"
                            formControlName="likelihood"
                            [(ngModel)]="risk.likelihood"
                            [ngModelOptions]="{ standalone: true }"
                            appendTo="body"
                            (onSelect)="doOnSelectlikelihood($event)"
                            placeholder="Search"
                            id="rt_level_2_id"
                            [dropdown]="true"
                            [suggestions]="filteredlikelihood"
                            appendToBody="true"
                            [autoHighlight]="true"
                            [forceSelection]="true"
                            [completeOnFocus]="true"
                            [minLength]="1"
                            (completeMethod)="filterlikelihood($event)"
                            required
                            autofocus
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    submitted && !form.controls.likelihood
                            }"
                        >
                        </p-autoComplete>
                        <small
                            class="ng-dirty ng-invalid"
                            *ngIf="
                                form.controls.likelihood.invalid &&
                                form.controls.likelihood.dirty
                            "
                            >Likelihood is required.</small
                        >
                    </div>
                    <div class="col-12 md:col-4">
                        <label for="risk_score">Risk Score <sup>*</sup></label>
                        <input
                            [ngModelOptions]="{ standalone: true }"
                            id="risk_score"
                            [readonly]="true"
                            pInputText
                            [value]="selectedtotal"
                            required
                            autofocus
                        />
                    </div>
                </div>
                <div class="col-12 flex justify-content-between mt-4">
                    <div class="ml-auto">
                        <p-button
                            type="reset"
                            label="Back"
                            icon="pi pi-arrow-left"
                            styleClass="p-button-secondary"
                            (click)="showTable = true"
                        ></p-button>
                        &nbsp;
                        <p-button
                            label="Save"
                            #submitButton
                            icon="pi pi-check"
                            styleClass="p-button-primary"
                            (click)="saverisk()"
                            [disabled]="!form.valid"
                        ></p-button>
                    </div>
                </div>
            </form>
            <!-- </ng-template> -->

            <!-- <ng-template pTemplate="footer"> -->
            <!-- </ng-template> -->
        </div>
        <!-- </p-dialog> -->
    </div>

    <button
        pButton
        pRipple
        title="Add"
        *ngIf="showTable"
        type="button"
        icon="pi pi-plus"
        class="p-button-rounded p-button-lg fixed add-details"
        (click)="openNew()"
    ></button>
</div>

<!-- <p-dialog
    [(visible)]="riskDialog"
    [style]="{ width: '80%' }"
    header="Risk Detail"
    [modal]="true"
    class="p-fluid"
> -->
