<div class="flex">
    <div
        class="flex-1 flex align-items-center justify-content-center m-1 border-round"
    >
        <div class="card mb-3">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Number of audit test run</span
                    >
                    <div class="text-900 font-medium text-xl">11</div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="flex-1 flex align-items-center justify-content-center m-1 border-round"
    >
        <div class="card mb-3">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Number of effective control</span
                    >
                    <div class="text-900 font-medium text-xl">10</div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="flex-1 flex align-items-center justify-content-center m-1 border-round"
    >
        <div class="card mb-3">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Number of ineffective control</span
                    >
                    <div class="text-900 font-medium text-xl">1</div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="flex-1 flex align-items-center justify-content-center m-1 border-round"
    >
        <div class="card mb-3">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Number of script loaded</span
                    >
                    <div class="text-900 font-medium text-xl">17</div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="flex-1 flex align-items-center justify-content-center m-1 border-round"
    >
        <div class="card mb-3">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Realised effiiencies (Hours)</span
                    >
                    <div class="text-900 font-medium text-xl">440</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12 lg:col-5">
        <div class="card">
            <h5>Audit</h5>
            <p-chart type="bar" [data]="basicData"></p-chart><br />
            <p-chart type="line" [data]="chartData"></p-chart>
        </div>
    </div>
    <div class="col-6 lg:col-3">
        <div class="card">
            <h5>Library</h5>
            <p-chart
                type="pie"
                [data]="pieData"
                [style]="{ width: '40%' }"
            ></p-chart>
        </div>
    </div>
</div>
