@media screen and (min-width: 992px) {
    .div-1 {
        height: 100%;
    }
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host ::ng-deep .p-autocomplete-item {
    cursor: pointer;
    white-space: normal !important;
    position: relative;
    overflow: hidden;
}
.add-banner-btn {
    bottom: 45px;
    right: 20px;
    padding: 30px;
}
