<div id="table1">
    <div class="card">
        <p-table
            #dt
            [value]="banner"
            [rowHover]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            [loading]="loadingTable"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            responsiveLayout="scroll"
            [scrollable]="true"
            scrollHeight="calc(100vh - 378px)"
            [filterDelay]="0"
            [globalFilterFields]="[
                'department_uid',
                'organization',
                'department'
            ]"
        >
            <ng-template pTemplate="caption">
                <div
                    class="table-header flex justify-content-between align-items-center"
                >
                    <span class="text-xl">List of Organisation</span>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            (input)="
                                dt.filterGlobal($event.target.value, 'contains')
                            "
                            placeholder="Global Search"
                        />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th
                        pSortableColumn="department_uid"
                        style="min-width: 14rem"
                    >
                        <div class="flex align-items-center">
                            Department UID
                            <p-sortIcon field="department_uid"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="organization" style="min-width: 14rem">
                        <div class="flex align-items-center">
                            Organisation
                            <p-sortIcon field="organization"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="department" style="min-width: 14rem">
                        <div class="flex align-items-center">
                            Department
                            <p-sortIcon field="department"></p-sortIcon>
                        </div>
                    </th>

                    <th pSortableColumn="action" style="min-width: 14rem">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            Actions
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item>
                <tr class="p-selectable-row">
                    <td class="text-base">
                        <span class="p-column-title">Department UID</span>
                        {{ item.department_uid }}
                    </td>

                    <td class="text-base">
                        <span class="p-column-title">Organisation</span>
                        {{ item.organization }}
                    </td>

                    <td class="text-base">
                        <span class="p-column-title">Department</span>
                        {{ item.department }}
                    </td>

                    <td class="text-base">
                        <span class="p-column-title">Actions</span>
                        <span
                            ><button
                                pButton
                                pRipple
                                title="Edit"
                                type="button"
                                icon="pi pi-pencil"
                                class="p-button-rounded p-button-info"
                                (click)="openBanner(item)"
                            ></button>
                            <button
                                pButton
                                pRipple
                                title="Delete"
                                type="button"
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-danger ml-2"
                                (click)="deleteBanner(item)"
                            ></button
                        ></span>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">No Banner found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <button
        pButton
        pRipple
        title="Add"
        type="button"
        icon="pi pi-plus"
        class="p-button-rounded p-button-lg fixed add-banner-btn"
        (click)="openBanner()"
    ></button>

    <form
        *ngIf="bannerDialog"
        [formGroup]="bannerForm"
        (ngSubmit)="bannerFormSubmit()"
    >
        <p-dialog
            header="Banner Details"
            [(visible)]="bannerDialog"
            [style]="{ width: '30vw' }"
        >
            <div class="field">
                <label for="organization" class="block">Organisation</label>
                <input
                    id="organization"
                    type="text"
                    pInputText
                    [style]="{ width: '100%' }"
                    formControlName="organization"
                />
            </div>

            <div class="field">
                <label for="department" class="block">Department</label>
                <input
                    id="department"
                    type="text"
                    pInputText
                    [style]="{ width: '100%' }"
                    formControlName="department"
                />
            </div>

            <ng-template pTemplate="footer">
                <p-button
                    type="reset"
                    icon="pi pi-times"
                    (click)="bannerDialog = false"
                    label="Cancel"
                    styleClass="p-button-text p-button-danger"
                ></p-button>
                <p-button
                    type="submit"
                    icon="pi pi-check"
                    label="Save"
                    styleClass="p-button-text p-button-primary"
                ></p-button>
            </ng-template>
        </p-dialog>
    </form>

    <p-confirmDialog> </p-confirmDialog>
</div>
