<p-toast></p-toast>
<div id="table1">
    <div class="card px-6 py-6">
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <div class="grid">
                    <!-- <p-dropdown
                    class="ml-2"
                    [options]="auditUIDs"
                    optionLabel="name"
                    dataKey="code"
                    placeholder="audit.."
                    [formControl]="selectedAuditUID"
                ></p-dropdown> -->
                    <div class="col-4 md:col-2">
                        <label class="text-l font-bold">Department</label>
                        <p-dropdown
                            class="ml-2"
                            [options]="departments"
                            optionLabel="name"
                            dataKey="code"
                            placeholder="Select Department"
                            [formControl]="selectedDepartment"
                        ></p-dropdown>
                    </div>
                    <div class="col-4 md:col-2">
                        <label class="text-l font-bold">Organisation</label>
                        <p-dropdown
                            class="ml-2"
                            [options]="organisations"
                            optionLabel="name"
                            dataKey="code"
                            placeholder="Select Organisation"
                            [formControl]="selectedOrg"
                        ></p-dropdown>
                    </div>

                    <!-- <p-dropdown
                    class="ml-2"
                    [options]="reviewYears"
                    optionLabel="name"
                    dataKey="code"
                    placeholder="year.."
                    [formControl]="selectedReviewYear"
                ></p-dropdown> -->
                    <div class="col-4 md:col-2">
                        <label class="text-l font-bold" for="start_date"
                            >From Date
                        </label>
                        <p-calendar
                            id="start_date"
                            formControlName="start_date"
                        ></p-calendar>
                    </div>
                    <div class="col-4 md:col-2">
                        <label class="text-l font-bold" for="end_date"
                            >To Date
                        </label>
                        <p-calendar
                            id="end_date"
                            formControlName="end_date"
                        ></p-calendar>
                    </div>
                    <div class="col-4 md:col-2">
                        <label class="text-l font-bold">Result</label>
                        <p-dropdown
                            class="ml-2"
                            [options]="results"
                            optionLabel="name"
                            dataKey="code"
                            placeholder="Select Result"
                            [formControl]="selectedResult"
                        ></p-dropdown>
                    </div>
                    <div class="col-4 md:col-2">
                        <br />
                        <p-button
                            type="submit"
                            icon="pi pi-check"
                            label="Submit"
                            styleClass="p-button-primary"
                        ></p-button>
                    </div>
                </div>
                <!-- &nbsp;
                <p-button
                    type="submit"
                    icon="pi pi-check"
                    label="Submit"
                    styleClass="p-button-primary"
                ></p-button> -->
            </ng-template>

            <!-- <ng-template pTemplate="right">
                <button
                    pButton
                    pRipple
                    label="Export"
                    icon="pi pi-upload"
                    class="p-button-secondary"
                ></button>
            </ng-template> -->
        </p-toolbar>

        <p-table
            #dt
            [value]="filteredResult"
            [rowHover]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            [loading]="loadingTable"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            responsiveLayout="scroll"
            [scrollable]="true"
            scrollHeight="calc(100vh - 378px)"
            [filterDelay]="0"
            [globalFilterFields]="[
                'audit_board_id',
                'audit_name',
                'audit_uid',
                'department',
                'full_name',
                'notes',
                'organization',
                'review_year'
            ]"
        >
            <ng-template pTemplate="caption">
                <div
                    class="table-header flex justify-content-between align-items-center"
                >
                    <span class="text-xl">Audit Dashboard</span>
                    <span class="p-input-icon-left">
                        <!-- <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            (input)="
                                dt.filterGlobal($event.target.value, 'contains')
                            "
                            placeholder="Global Search"
                        /> -->

                        <p-button
                            icon="pi pi-download"
                            class="ml-10"
                            iconPos="left"
                            label="Export"
                            pTooltip="Export to csv"
                            tooltipPosition="top"
                            styleClass="p-button-secondary"
                            (click)="downloadcav()"
                        ></p-button>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="audit_uid">
                        <div class="flex align-items-center">
                            <p-sortIcon field="audit_uid"></p-sortIcon>
                            AUDIT UID
                        </div>
                    </th>

                    <th pSortableColumn="department">
                        <div class="flex align-items-center">
                            <p-sortIcon field="department"></p-sortIcon>
                            DEPARTMENT
                        </div>
                    </th>

                    <th pSortableColumn="organization">
                        <div class="flex align-items-center">
                            <p-sortIcon field="organization"></p-sortIcon>
                            ORGANIZATION
                        </div>
                    </th>

                    <th pSortableColumn="review_year">
                        <div class="flex align-items-center">
                            <p-sortIcon field="review_year"></p-sortIcon>
                            REVIEW YEAR
                        </div>
                    </th>

                    <th pSortableColumn="results">
                        <div class="flex align-items-center">
                            <p-sortIcon field="results"></p-sortIcon>
                            RESULT
                        </div>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item>
                <tr class="p-selectable-row">
                    <td class="text-base">
                        {{ item.audit_uid }}
                    </td>

                    <td class="text-base">
                        {{ item.department }}
                    </td>

                    <td class="text-base">
                        {{ item.organization }}
                    </td>

                    <td class="text-base">
                        {{ item.review_year }}
                    </td>

                    <td class="text-base">
                        {{ item.results }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- <button
        pButton
        pRipple
        title="Filter"
        type="button"
        icon="pi pi-filter"
        class="p-button-rounded p-button-lg fixed add-details"
        (click)="openDailog()"
    ></button> -->

    <!-- <form
        *ngIf="filterDialog"
        [formGroup]="filterForm"
        (ngSubmit)="filterFormSubmit()"
    >
        <p-dialog
            header="Filter"
            [(visible)]="filterDialog"
            [style]="{ width: '30vw' }"
        >
            <div class="field">
                <label for="organization_id" class="block">Organisation</label>
                <p-dropdown
                    appendTo="body"
                    [options]="allOrg"
                    formControlName="organization_id"
                    optionLabel="organization"
                    [dataKey]="organization_id"
                    placeholder="Select Organisation"
                    [style]="{ width: '100%' }"
                ></p-dropdown>
            </div>

            <div class="field">
                <label for="department_id" class="block">Department</label>
                <p-dropdown
                    appendTo="body"
                    [options]="allDept"
                    formControlName="department_id"
                    optionLabel="department"
                    [dataKey]="department_uid"
                    placeholder="Select Department"
                    [style]="{ width: '100%' }"
                ></p-dropdown>
            </div>

            <div class="field">
                <label for="ap_schedule_start_date">Start Date</label>
                <p-calendar
                    appendTo="body"
                    formControlName="ap_schedule_start_date"
                    inputId="ap_schedule_start_date"
                    [showIcon]="true"
                    [style]="{ width: '100%' }"
                ></p-calendar>
            </div>

            <div class="field">
                <label for="ap_schedule_end_date">End Date</label>
                <p-calendar
                    appendTo="body"
                    formControlName="ap_schedule_end_date"
                    inputId="ap_schedule_end_date"
                    [showIcon]="true"
                    [style]="{ width: '100%' }"
                ></p-calendar>
            </div>

            <div class="field">
                <label for="results" class="block">Department</label>
                <p-dropdown
                    appendTo="body"
                    [options]="resultsOpt"
                    formControlName="results"
                    optionLabel="name"
                    dataKey="results"
                    placeholder="Select Result"
                    [style]="{ width: '100%' }"
                ></p-dropdown>
            </div>

            <ng-template pTemplate="footer">
                <p-button
                    type="reset"
                    icon="pi pi-times"
                    (click)="filterDialog = false"
                    label="Cancel"
                    styleClass="p-button-text p-button-primary"
                ></p-button>
                <p-button
                    type="submit"
                    icon="pi pi-check"
                    label="Save"
                    styleClass="p-button-text p-button-primary"
                ></p-button>
            </ng-template>
        </p-dialog>
    </form> -->
</div>
