<p-toast></p-toast>
<div id="table1">
    <p-table
        #dt
        [value]="AULevel3"
        selectionMode="single"
        [rows]="10"
        [loading]="loading"
        [rowHover]="true"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedAULevel3"
        responsiveLayout="scroll"
        [scrollable]="true"
        scrollHeight="calc(100vh - 468px)"
        [filterDelay]="0"
        [globalFilterFields]="[
            'au_level_3_uid',
            'au_level_3_desc',
            'au_level_3_definiton',
            'au_level_3_comments'
        ]"
    >
        <ng-template pTemplate="caption">
            <div
                class="table-header flex justify-content-between align-items-center"
            >
                <span class="text-xl"
                    >Audit Universe Level 3(
                    {{ AULevel2Selection[0]?.au_level_2_uid }} -
                    {{ AULevel2Selection[0]?.au_level_2_desc.slice(0, 30) }}
                    )</span
                >
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt.filterGlobal($event.target.value, 'contains')
                        "
                        placeholder="Global Search"
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="max-width: 3rem;"></th>
                <th pSortableColumn="au_level_3_uid">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <p-sortIcon field="au_level_3_uid"></p-sortIcon>
                        AU UID
                    </div>
                </th>
                <th pSortableColumn="au_level_3_desc">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <p-sortIcon field="au_level_3_desc"></p-sortIcon>
                        DESCRIPTION
                        <p-columnFilter
                            type="text"
                            field="au_level_3_desc"
                            display="menu"
                            class="ml-auto"
                        ></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="au_level_3_definiton">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <p-sortIcon field="au_level_3_definiton"></p-sortIcon>
                        DEFINTION
                        <p-columnFilter
                            type="text"
                            field="au_level_3_definiton"
                            display="menu"
                            class="ml-auto"
                        ></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="au_level_3_comments">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        <p-sortIcon field="au_level_3_comments"></p-sortIcon>
                        COMMENTS
                        <p-columnFilter
                            type="text"
                            field="au_level_3_comments"
                            display="menu"
                            class="ml-auto"
                        ></p-columnFilter>
                    </div>
                </th>
                <th pSortableColumn="Actions">
                    <div
                        class="flex justify-content-between align-items-center"
                    >
                        ACTIONS&nbsp;

                        <button
                            pButton
                            class="p-button-outlined"
                            style="height: 1.4rem !important;"
                            icon="pi pi-filter-slash"
                            title="Clear Filter"
                            (click)="clear(dt)"
                        ></button>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-aulevel3>
            <tr>
                <td class="text-base" style="max-width: 3rem;">
                    <p-tableCheckbox
                        (click)="getSelection(aulevel3)"
                        [value]="aulevel3"
                    ></p-tableCheckbox>
                </td>
                <td class="text-base" style="min-width: 12rem;">
                    {{ aulevel3.au_level_3_uid }}
                </td>
                <td class="text-base" style="min-width: 12rem;">
                    {{ aulevel3.au_level_3_desc }}
                </td>
                <td class="text-base" style="min-width: 12rem;">
                    {{ aulevel3.au_level_3_definiton }}
                </td>
                <td class="text-base" style="min-width: 12rem;">
                    {{ aulevel3.au_level_3_comments }}
                </td>
                <td>
                    <span class="p-column-title">Actions </span>
                    <span
                        ><button
                            pButton
                            pRipple
                            title="Edit"
                            type="button"
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-info"
                            (click)="open(aulevel3)"
                        ></button>
                        <p-button
                            pButton
                            pRipple
                            title="Delete"
                            type="button"
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-info ml-2"
                            (click)="deleteAuditUniverse(aulevel3)"
                        ></p-button
                    ></span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No Audit Universer found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="5">Loading Audit Universer data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>

    <button
        pButton
        pRipple
        title="Add"
        type="button"
        icon="pi pi-plus"
        class="p-button-rounded p-button-lg fixed add-details"
        (click)="open()"
    ></button>

    <p-dialog
        [(visible)]="aul_3_Dialog"
        [style]="{ width: '450px' }"
        header="Audit Universe Level 3 Detail"
        [modal]="true"
        class="p-fluid"
    >
        <ng-template pTemplate="content">
            <form *ngIf="aul_3_Dialog" [formGroup]="aul3Form">
                <div class="field">
                    <label for="section_no">Section No. <sup>*</sup></label>
                    <input
                        id="section_no"
                        pInputText
                        formControlName="section_no"
                        type="number"
                    />
                </div>
                <div class="field">
                    <label for="au_level_3_desc"
                        >Description <sup>*</sup></label
                    >
                    <input
                        id="au_level_3_desc"
                        pInputText
                        formControlName="au_level_3_desc"
                    />
                </div>
                <div class="field">
                    <label for="au_level_3_definiton"
                        >Definition <sup>*</sup></label
                    >
                    <input
                        id="au_level_3_definiton"
                        pInputText
                        formControlName="au_level_3_definiton"
                    />
                </div>
                <div class="field">
                    <label for="au_level_3_comments">Comment</label>
                    <input
                        id="au_level_3_comments"
                        pInputText
                        formControlName="au_level_3_comments"
                    />
                </div>
            </form>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button
                label="Cancel"
                icon="pi pi-times"
                styleClass="p-button-secondary"
                (click)="aul_3_Dialog = false"
            ></p-button>
            <p-button
                label="Save"
                icon="pi pi-check"
                class="p-button-primary"
                [disabled]="aul3Form.invalid"
                (click)="submitAUL3Form()"
            ></p-button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog></p-confirmDialog>
</div>
