<div class="layout-topbar">
    <a
        class="p-link layout-menu-button layout-topbar-button ml-0"
        href="#"
        (click)="appMain.toggleMenu($event)"
    >
        <i class="pi pi-align-left"></i>
    </a>
    <a class="layout-topbar-logo" routerLink="">
        <img
            class="h-10rem"
            src="../assets/layout/images/iRAA_PNG.png"
            alt="iRAA"
        />
    </a>

    <a
        class="p-link layout-topbar-menu-button layout-topbar-button"
        href="#"
        (click)="appMain.toggleTopMenu($event)"
    >
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <br />
    <div
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active': appMain.topMenuActive
        }"
    >
        <!-- <img
            src="../assets/layout/images/ADL-black.png"
            style="height: 2.9rem !important;"
            alt="aptusdatalabs"
        /> -->

        <ul
            *ngIf="isUserAuthenticated()"
            style="list-style-type: none; padding-left: 0.5rem !important;"
        >
            <li>
                <i class="pi pi-user"
                    >&nbsp;<span
                        style="
                            padding-right: 0px !important;
                            font-weight: bold;
                        "
                        >{{ emailid | titlecase }}</span
                    ></i
                >
            </li>
        </ul>

        <a
            class="p-link layout-topbar-button"
            *ngIf="isUserAuthenticated()"
            (click)="logOut()"
            style="padding: -10px !important;"
            ><i
                class="pi pi-sign-out mb-1"
                style="
                    font-size: 14px;
                    margin-top: 6px;
                    padding-left: -10px !important;
                "
            ></i
        ></a>
    </div>
</div>
