<!-- <section class="showcase">
    <div class="content">
        <div class="mycontainer">
            <div id="header_container">
                <div id="header">
                    <form
                        [formGroup]="registerForm"
                        #loginForm="ngForm"
                        (ngSubmit)="login(loginForm)"
                        class="form-inline"
                    >
                        <div class="form-floating mb-3">
                            <input
                                type="username"
                                class="form-control"
                                required
                                pInputText
                                id="username"
                                name="username"
                                [(ngModel)]="credentials.username"
                                placeholder="username"
                                formControlName="username"
                                class="form-control"
                                [ngClass]="{
                                    'is-invalid': submitted && f.username.errors
                                }"
                                style="height: 65px; width: 300px"
                            />
                            <div
                                *ngIf="submitted && f.username.errors"
                                class="invalid-feedback"
                            >
                                <div
                                    style="
                                        position: absolute;
                                        top: 1;
                                        left: 12;
                                        color: red;
                                        font-size: small;
                                    "
                                    *ngIf="f.username.errors.required"
                                >
                                    username is required
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input
                                type="password"
                                class="form-control"
                                required
                                id="password"
                                name="password"
                                [(ngModel)]="credentials.password"
                                placeholder="password"
                                formControlName="password"
                                styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                                [ngClass]="{
                                    'is-invalid': submitted && f.password.errors
                                }"
                                style="
                                    height: 65px;
                                    width: 300px;
                                    border-radius: 6px;
                                "
                            />
                            <div
                                *ngIf="submitted && f.password.errors"
                                class="invalid-feedback"
                            >
                                <div
                                    style="
                                        position: absolute;
                                        top: 1;
                                        left: 12;
                                        color: red;
                                        font-size: small;
                                    "
                                    *ngIf="f.password.errors.required"
                                >
                                    Password is required
                                </div>
                            </div>
                        </div>
                        <div
                            class="form-floating mb-3"
                            style="padding-left: 10px"
                        >
                            <button
                                class="btn btn-primary"
                                #submitButton
                                [disabled]="isLoading"
                                style="height: 55px"
                            >
                                <i
                                    class="pi"
                                    [ngClass]="{
                                        'pi-spin pi-spinner': isLoading,
                                        'pi-check': !isLoading
                                    }"
                                ></i>
                                {{ button }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> bg-green-100-->

<div class="table1 grid flex align-items-start flex-wrap card-container">
    <div
        class="hidden md:flex md:col-6 align-items-center justify-content-center"
        style="min-height: 100vh;"
    >
        <span
            style="
                position: absolute;
                top: 55%;
                font-size: 1.2rem;
                font-weight: bold;
                left: 22%;
                border-bottom: solid 3.5px #86c143;
            "
            >A Complete Auditing Solutions</span
        >

        <!-- <img
            src="../assets/layout/images/ADL-black.png"
            style="height: 6rem !important; position: relative;"
            alt="aptusdatalabs"
        /> -->

        <img
            src="../assets/layout/images/iRAA_PNG.png"
            style="position: absolute; top: 0%; height: 50rem !important ;"
            alt="iRAA"
        />

        <!-- <span class="text-4xl">Mazars Logo</span> -->
    </div>
    <div
        class="col-12 md:col-6 flex align-items-center justify-content-center"
        style="min-height: 100vh;"
    >
        <div
            class="card p-5"
            style="
                box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
                    0px 1px 1px 0px rgb(0 0 0 / 14%),
                    0px 1px 3px 0px rgb(0 0 0 / 12%);
                border-radius: 4px !important;
                min-height: 22rem !important ;
                padding: 56px;
                flex-direction: column;
                display: flex;
            "
        >
            <div class="text-center">
                <div class="text-900 text-3xl font-medium mb-3">Log in</div>
                <span class="text-600 font-medium">Welcome Back!</span>
            </div>
            <br />
            <div>
                <form
                    [formGroup]="registerForm"
                    #loginForm="ngForm"
                    (ngSubmit)="login(loginForm)"
                >
                    <div>
                        <!-- <label
                            for="username"
                            class="block text-900 text-xl font-medium mb-2"
                            >Username</label
                        > -->
                        <input
                            id="username"
                            type="text"
                            placeholder="Username"
                            [(ngModel)]="credentials.username"
                            formControlName="username"
                            class="p-inputtext p-component p-element md:w-30rem mb-5"
                            style="padding: 1rem;"
                        />
                    </div>

                    <div class="">
                        <!-- <label
                            for="password"
                            class="block text-900 font-medium text-xl mb-2"
                            >Password</label
                        > -->
                        <input
                            type="password"
                            class="form-control"
                            required
                            id="password"
                            name="password"
                            [(ngModel)]="credentials.password"
                            placeholder="Password"
                            formControlName="password"
                            class="p-inputtext p-component p-element md:w-30rem mb-5"
                            [ngClass]="{
                                'is-invalid': submitted && f.password.errors
                            }"
                        />
                    </div>

                    <div class="text-center">
                        <button
                            class="p-element p-3 text-xl p-button p-component"
                            #submitButton
                            [disabled]="isLoading"
                            style="
                                height: 40px;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            "
                        >
                            <!-- <i
                                class="pi"
                                [ngClass]="{
                                    'pi-spin pi-spinner': isLoading,
                                    'pi-check': !isLoading
                                }"
                            ></i>
                            &nbsp; -->
                            {{ button }}
                        </button>
                    </div>
                    <div
                        style="
                            padding-top: 1rem;

                            font-weight: 500;
                            line-height: 1.57;
                            letter-spacing: 0.00714em;
                            color: #005baa;
                        "
                        class="flex align-items-center justify-content-between mb-5 gap-5"
                    >
                        <a
                            class="font-medium no-underline ml-2 text-right cursor-pointer"
                            >Forgot password?</a
                        >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
