<!-- <div class="table1 grid flex align-items-start flex-wrap card-container">
    <div
        class="hidden md:flex md:col-6 align-items-center justify-content-center h-screen"
    >
        <img
            src="../assets/layout/images/aptveri5.png"
            class="m-auto h-30rem"
            alt="aptiveri5"
        />
    </div>
    <div
        class="col-12 md:col-6 flex align-items-center justify-content-center h-screen"
    >
        <div class="card flex flex-column border-round-3xl h-24rem p-5">
            <div class="text-center">
                <div class="text-900 text-3xl font-medium mb-3">Log in</div>
                <span class="text-600 font-medium">Welcome Back!</span>
            </div>
            <br />
            <div>
                <form [formGroup]="registerForm" (ngSubmit)="login()">
                    <div>
                        <input
                            type="text"
                            placeholder="Username"
                            formControlName="username"
                            class="p-inputtext p-component p-element md:w-30rem mb-5 p-3"
                        />
                    </div>

                    <div>
                        <input
                            type="password"
                            placeholder="Password"
                            formControlName="password"
                            class="p-inputtext p-component p-element md:w-30rem mb-5"
                            [ngClass]="{
                                'is-invalid':
                                    submitted &&
                                    registerForm.get('password').errors
                            }"
                        />
                    </div>

                    <div class="text-center">
                        <button
                            type="submit"
                            class="p-element p-3 text-xl flex align-items-center justify-content-center p-button p-component h-3rem w-full"
                            [disabled]="isLoading"
                        >
                            {{ button }}
                        </button>
                    </div>
                    <div
                        class="flex font-medium line-height-3 text-blue-400 align-items-center justify-content-between mb-5 gap-5 p-3"
                    >
                        <a
                            class="font-medium no-underline ml-2 text-right cursor-pointer"
                            >Forgot password?</a
                        >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt my-auto" data-tilt>
                <img src="../assets/layout/images/aptveri5.png" alt="IMG" />
            </div>

            <form
                class="login100-form validate-form"
                [formGroup]="registerForm"
                (ngSubmit)="login()"
            >
                <span class="login100-form-title"> Log In </span>
                <div class="text-xl text-center pb-8 pt-2">
                    <span> Welcome Back </span>
                </div>

                <div
                    class="wrap-input100 validate-input"
                    data-validate="Valid email is required: ex@abc.xyz"
                >
                    <input
                        class="input100"
                        type="text"
                        name="email"
                        placeholder="Email"
                        formControlName="username"
                    />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="pi pi-envelope"></i>
                    </span>
                </div>

                <div
                    class="wrap-input100 validate-input"
                    data-validate="Password is required"
                >
                    <input
                        class="input100"
                        type="password"
                        name="pass"
                        placeholder="Password"
                        formControlName="password"
                    />
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="pi pi-lock"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        <span *ngIf="!isLoading">submit</span>
                        <span *ngIf="isLoading"
                            ><i
                                class="pi pi-spin pi-spinner"
                                style="font-size: 2rem;"
                            ></i
                        ></span>
                    </button>
                </div>

                <div class="text-center pt-8">
                    <span class="txt1"> Forgot </span>
                    <a class="txt2" href="#"> Username / Password? </a>
                </div>

                <!-- <div class="text-center p-t-136">
                    <a class="txt2" href="#">
                        Create your Account
                        <i
                            class="fa fa-long-arrow-right m-l-5"
                            aria-hidden="true"
                        ></i>
                    </a>
                </div> -->
            </form>
        </div>
    </div>
</div>
