<!-- <div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>

            <p-table
                #dt
                [value]="audits"
                selectionMode="single"
                [rows]="10"
                [loading]="loading"
                [rowHover]="true"
                styleClass="p-datatable-gridlines"
                [paginator]="true"
                [globalFilterFields]="[
                    'audit_uid',
                    'audit_board_id',
                    'audit_name',
                    'banner_id',
                    'au_level2_id',
                    'review_year',
                    'quarter',
                    'start_date',
                    'end_date',
                    'acp_audit',
                    'user_acces_id',
                    'audit_schedule',
                    'results_url',
                    'last_run_date'
                ]"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedaudits"
                responsiveLayout="scroll"
                [scrollable]="true"
                scrollHeight="calc(100vh - 220px)"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="grid grid-nogutter flex-column md:flex-row justify-content-between"
                    >
                        <h6 class="m-0">AUDIT</h6>

                        <span class="p-input-icon-left mb-2 md:mb-0">
                            <button
                                title="New"
                                pButton
                                pRipple
                                icon="pi pi-plus"
                                class="p-button-rounded p-button-success"
                                *ngIf="accountSvr.checkPermission(4, 11, 'A')"
                                (click)="openNew(null)"
                            ></button>

                            &nbsp;

                            <button
                                title="Edit"
                                pButton
                                pRipple
                                icon="pi pi-pencil"
                                class="p-button-rounded p-button-warning"
                                *ngIf="accountSvr.checkPermission(4, 11, 'C')"
                                (click)="openNew(selectedaudits[0])"
                                [disabled]="selectedaudits?.length != 1"
                            ></button>
                            &nbsp;
                            <button
                                title="Delete"
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-danger"
                                (click)="deleteaudit(selectedaudits[0])"
                                *ngIf="accountSvr.checkPermission(4, 11, 'D')"
                                [disabled]="selectedaudits?.length != 1"
                            ></button>
                            &nbsp;
                            <button
                                title="Clear"
                                pButton
                                pRipple
                                class="p-button-rounded p-button-info"
                                icon=" pi pi-filter-slash"
                                (click)="clear(dt)"
                            ></button>
                            &nbsp;
                            <button
                                title="NavigateToAuditProgram"
                                pButton
                                pRipple
                                class="p-button-rounded p-button-secondary"
                                *ngIf="accountSvr.checkPermission(4, 11, 'V')"
                                icon=" pi pi-arrow-right"
                                (click)="ForwordTOAuditProgram()"
                                [disabled]="
                                    selectedaudits?.length != 1 ||
                                    (acp_audit_val === 'true' &&
                                        user_access_val === 'no')
                                "
                            ></button>
                        </span>
                    </div>
                </ng-template>
                <ng-template
                    pTemplate="header"
                    *ngIf="accountSvr.checkPermission(4, 11, 'V')"
                >
                    <tr>
                        <th pFrozenColumn style="max-width: 3rem"></th>
                        <th pSortableColumn="audit_uid">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="audit_uid"></p-sortIcon>
                                AUDIT UID
                                <p-columnFilter
                                    type="text"
                                    field="audit_uid"
                                    display="menu"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="audit_board_id">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="audit_board_id"></p-sortIcon>
                                AUDIT BOARD ID
                                <p-columnFilter
                                    type="text"
                                    field="audit_board_id"
                                    display="menu"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="audit_name">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="audit_name"></p-sortIcon>
                                AUDIT NAME
                                <p-columnFilter
                                    type="text"
                                    field="audit_name"
                                    display="menu"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="banner">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="banner"></p-sortIcon>
                                BANNER DESCRIPTION
                                <p-columnFilter
                                    type="text"
                                    field="banner"
                                    display="menu"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="au_level_2_id">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="au_level_2_id"></p-sortIcon>
                                AUDIT Level 2 DESCRIPTION
                                <p-columnFilter
                                    type="text"
                                    field="au_level_2_id"
                                    display="menu"
                                ></p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="review_year">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="review_year"></p-sortIcon>
                                REVIEW YEAR
                                <p-columnFilter
                                    type="text"
                                    field="review_year"
                                    display="menu"
                                ></p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="quarter">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="quarter"></p-sortIcon>
                                QUARTER
                                <p-columnFilter
                                    type="text"
                                    field="quarter"
                                    display="menu"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="start_date">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="start_date"></p-sortIcon>
                                START DATE
                                <p-columnFilter
                                    type="date"
                                    field="start_date"
                                    display="menu"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="end_date">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="end_date"></p-sortIcon>
                                END DATE
                                <p-columnFilter
                                    type="date"
                                    field="end_date"
                                    display="menu"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="acp_audit">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="acp_audit"></p-sortIcon>
                                ACP AUDIT
                                <p-columnFilter
                                    type="text"
                                    field="acp_audit"
                                    display="menu"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="audit_schedule">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="audit_schedule"></p-sortIcon>
                                AUDIT SCHEDULE
                                <p-columnFilter
                                    type="text"
                                    field="audit_schedule"
                                    display="menu"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="results_url">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="results_url"></p-sortIcon>
                                RESULT URL
                                <p-columnFilter
                                    type="text"
                                    field="results_url"
                                    display="menu"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="last_run_date">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="last_run_date"></p-sortIcon>
                                LAST RUN DATE
                                <p-columnFilter
                                    type="date"
                                    field="last_run_date"
                                    display="menu"
                                ></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="full_name">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <p-sortIcon field="full_name"></p-sortIcon>
                                CREATED BY
                                <p-columnFilter
                                    type="text"
                                    field="full_name"
                                    display="menu"
                                ></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-audit>
                    <tr>
                        <td pFrozenColumn style="max-width: 3rem">
                            <p-tableCheckbox
                                [value]="audit"
                                (click)="selectaudit(audit)"
                            ></p-tableCheckbox>
                        </td>
                        <td style="min-width: 12rem">
                            {{ audit.audit_uid }}
                        </td>
                        <td style="min-width: 12rem">
                            {{ audit.audit_board_id }}
                        </td>
                        <td style="min-width: 12rem">
                            {{ audit.audit_name }}
                        </td>
                        <td style="min-width: 12rem">
                            {{ audit.banner }}
                        </td>
                        <td style="min-width: 12rem">

                            <span *ngFor="let AU of AuditUniverse">
                                <span
                                    *ngIf="
                                        AU.au_level_2_id === audit.au_level_2_id
                                    "
                                >
                                    {{ AU.au_level_2_uid }} -{{
                                        AU.au_level_2_desc
                                    }}
                                </span>
                            </span>
                        </td>
                        <td style="min-width: 12rem">
                            {{ audit.review_year }}
                        </td>
                        <td style="min-width: 12rem">
                            {{ audit.quarter }}
                        </td>
                        <td style="min-width: 12rem">
                            {{ audit.start_date }}
                        </td>
                        <td style="min-width: 12rem">
                            {{ audit.end_date }}
                        </td>
                        <td style="min-width: 12rem">
                            {{ audit.acp_audit }}
                        </td>
                        <td style="min-width: 12rem">
                            {{ audit.audit_schedule }}
                        </td>
                        <td style="min-width: 12rem">
                            <a [href]="audit.results_url" target="_blank">{{
                                audit.results_url
                            }}</a>
                        </td>
                        <td style="min-width: 12rem">
                            {{ audit.last_run_date }}
                        </td>
                        <td style="min-width: 12rem">
                            {{ audit.full_name }}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No audits found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="7">Loading audits data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="auditDialog"
            [style]="{ width: '80%' }"
            header="Audit"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <form [formGroup]="auditForm" class="grid">
                    <div class="field col-12 md:col-4">
                        <label for="banner_id">Banner <sup>*</sup></label>
                        <p-autoComplete
                            appendTo="body"
                            [autoHighlight]="true"
                            [forceSelection]="true"
                            [completeOnFocus]="true"
                            [minLength]="1"
                            placeholder="Search"
                            id="banner_id"
                            [dropdown]="true"
                            [suggestions]="filteredAuditBanner"
                            (completeMethod)="filterBanner($event)"
                            formControlName="banner_id"
                        >
                        </p-autoComplete>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="au_level2_id"
                            >Audit Universe <sup>*</sup></label
                        >
                        <p-autoComplete
                            appendTo="body"
                            [autoHighlight]="true"
                            [forceSelection]="true"
                            [completeOnFocus]="true"
                            [minLength]="1"
                            placeholder="Search"
                            id="au_level_2_id"
                            [dropdown]="true"
                            [suggestions]="filteredAuditUniverse"
                            (completeMethod)="filterAU($event)"
                            formControlName="au_level_2_id"
                            [disabled]="isAuditEdit"
                        >
                        </p-autoComplete>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="audit_name">Audit Name <sup>*</sup></label>
                        <input
                            id="audit_name"
                            pInputText
                            formControlName="audit_name"
                        />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="audit_board_id"
                            >Audit Board ID <sup>*</sup></label
                        >
                        <input
                            id="audit_board_id"
                            pInputText
                            formControlName="audit_board_id"
                        />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="quarter">Quarter <sup>*</sup></label>
                        <p-dropdown
                            appendTo="body"
                            id="quarter"
                            [options]="quarterList"
                            formControlName="quarter"
                            optionLabel="quarter"
                            optionValue="code"
                        ></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="user_access"
                            >User Access <sup class="opacity-0">*</sup></label
                        >
                        <p-multiSelect
                            appendTo="body"
                            id="user_access"
                            [options]="listOfusers"
                            formControlName="user_access_id"
                            optionLabel="fullName"
                            optionValue="userId"
                        ></p-multiSelect>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="acp_audit"
                            >ACP Audit <sup class="opacity-0">*</sup></label
                        >
                        <p-dropdown
                            appendTo="body"
                            id="acp_audit"
                            [options]="acp_auditList"
                            formControlName="acp_audit"
                            optionLabel="acp_audit"
                            optionValue="code"
                        ></p-dropdown>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="results_url"
                            >Result URL <sup class="opacity-0">*</sup></label
                        >
                        <input
                            id="results_url"
                            pInputText
                            formControlName="results_url"
                        />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="review_year"
                            >Review Year <sup>*</sup></label
                        >
                        <input
                            type="number"
                            id="review_year"
                            pInputText
                            formControlName="review_year"
                            min="1111"
                            max="9999"
                        />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="start_date">Start Date </label>
                        <p-calendar
                            appendTo="body"
                            id="start_date"
                            formControlName="start_date"
                            showTime="true"
                        ></p-calendar>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="end_date">End Date </label>
                        <p-calendar
                            appendTo="body"
                            id="end_date"
                            formControlName="end_date"
                            showTime="true"
                        ></p-calendar>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="audit_schedule">Audit SCHEDULE</label>
                        <input
                            id="audit_schedule"
                            pInputText
                            formControlName="audit_schedule"
                        />
                    </div>
                </form>
            </ng-template>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancel"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Save"
                    #submitButton
                    icon="pi pi-check"
                    class="p-button-text"
                    [disabled]="auditForm.invalid"
                    (click)="saveaudit()"
                ></button>
            </ng-template>
        </p-dialog>

       
        <p-confirmDialog> </p-confirmDialog>
    </div>
</div> -->

<div id="table1">
    <p-table
        #dt
        [value]="audits"
        selectionMode="single"
        [rows]="10"
        [loading]="loading"
        [rowHover]="true"
        [paginator]="true"
        [globalFilterFields]="[
            'audit_uid',
            'audit_board_id',
            'audit_name',
            'department_id',
            'au_level_2_id',
            'review_year',
            'quarter',
            'start_date',
            'end_date',
            'acp_audit',
            'audit_schedule',
            'results_url',
            'last_run_date'
        ]"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedaudits"
        responsiveLayout="scroll"
        [scrollable]="true"
        scrollHeight="calc(100vh - 240px)"
    >
        <ng-template pTemplate="caption">
            <div
                class="table-header flex justify-content-between align-items-center"
            >
                <span class="text-xl">List of Audit</span>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt.filterGlobal($event.target.value, 'contains')
                        "
                        placeholder="Global Search"
                    />
                </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="audit_uid" style="min-width: 14rem">
                    <div class="flex align-items-center">
                        Audit UID
                        <p-sortIcon field="audit_uid"></p-sortIcon>
                    </div>
                </th>

                <th pSortableColumn="audit_board_id" style="min-width: 14rem">
                    <div class="flex align-items-center">
                        Audit Board ID
                        <p-sortIcon field="audit_board_id"></p-sortIcon>
                    </div>
                </th>

                <th pSortableColumn="audit_name" style="min-width: 14rem">
                    <div class="flex align-items-center">
                        Audit Name
                        <p-sortIcon field="audit_name"></p-sortIcon>
                    </div>
                </th>

                <th pSortableColumn="department_id" style="min-width: 14rem">
                    <div class="flex align-items-center">
                        Department ID
                        <p-sortIcon field="department_id"></p-sortIcon>
                    </div>
                </th>

                <th pSortableColumn="au_level_2_id" style="min-width: 14rem">
                    <div class="flex align-items-center">
                        AU Level 2 ID
                        <p-sortIcon field="au_level_2_id"></p-sortIcon>
                    </div>
                </th>

                <th pSortableColumn="review_year" style="min-width: 14rem">
                    <div class="flex align-items-center">
                        Review Year
                        <p-sortIcon field="review_year"></p-sortIcon>
                    </div>
                </th>

                <th pSortableColumn="quarter" style="min-width: 14rem">
                    <div class="flex align-items-center">
                        Quarter
                        <p-sortIcon field="quarter"></p-sortIcon>
                    </div>
                </th>

                <th pSortableColumn="start_date" style="min-width: 14rem">
                    <div class="flex align-items-center">
                        Start Date
                        <p-sortIcon field="start_date"></p-sortIcon>
                    </div>
                </th>

                <th pSortableColumn="end_date" style="min-width: 14rem">
                    <div class="flex align-items-center">
                        End Date
                        <p-sortIcon field="end_date"></p-sortIcon>
                    </div>
                </th>

                <th pSortableColumn="acp_audit" style="min-width: 14rem">
                    <div class="flex align-items-center">
                        ACP Audit
                        <p-sortIcon field="acp_audit"></p-sortIcon>
                    </div>
                </th>

                <th pSortableColumn="audit_schedule" style="min-width: 14rem">
                    <div class="flex align-items-center">
                        Audit Schedule
                        <p-sortIcon field="audit_schedule"></p-sortIcon>
                    </div>
                </th>

                <th pSortableColumn="results_url" style="min-width: 14rem">
                    <div class="flex align-items-center">
                        Results URL
                        <p-sortIcon field="results_url"></p-sortIcon>
                    </div>
                </th>

                <th pSortableColumn="last_run_date" style="min-width: 14rem">
                    <div class="flex align-items-center">
                        Last Run Date
                        <p-sortIcon field="last_run_date"></p-sortIcon>
                    </div>
                </th>

                <th style="min-width: 14rem">
                    <div class="flex align-items-center">Actions</div>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
            <tr class="p-selectable-row">
                <td>{{ item.audit_uid }}</td>
                <td>{{ item.audit_board_id }}</td>
                <td>{{ item.audit_name }}</td>
                <td>{{ item.department_id }}</td>
                <td>{{ item.au_level_2_id }}</td>
                <td>{{ item.review_year }}</td>
                <td>{{ item.quarter }}</td>
                <td>{{ item.start_date }}</td>
                <td>{{ item.end_date }}</td>
                <td>{{ item.acp_audit }}</td>
                <td>{{ item.audit_schedule }}</td>
                <td>{{ item.results_url }}</td>
                <td>{{ item.last_run_date }}</td>
                <td>
                    <span
                        ><button
                            pButton
                            pRipple
                            title="Edit"
                            type="button"
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-info"
                            (click)="openNew(item)"
                        ></button>
                        <button
                            pButton
                            pRipple
                            title="Navigate To Audit Program"
                            type="button"
                            icon="pi pi-arrow-right"
                            class="p-button-rounded p-button-secondary ml-2"
                            (click)="ForwordTOAuditProgram(item)"
                        ></button>
                        <button
                            pButton
                            pRipple
                            title="Delete"
                            type="button"
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-danger ml-2"
                            (click)="deleteaudit(item)"
                        ></button
                    ></span>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="14">No Audit found.</td>
            </tr>
        </ng-template>
    </p-table>

    <button
        pButton
        pRipple
        title="Add"
        type="button"
        icon="pi pi-plus"
        class="p-button-rounded fixed add-banner-btn"
        (click)="openNew(null)"
    ></button>

    <p-dialog
        [(visible)]="auditDialog"
        [style]="{ width: '80%' }"
        header="Audit"
        [modal]="true"
        class="p-fluid"
    >
        <ng-template pTemplate="content">
            <form [formGroup]="auditForm" class="grid">
                <div class="field col-12 md:col-4">
                    <label for="banner_id">Banner <sup>*</sup></label>
                    <p-autoComplete
                        appendTo="body"
                        [autoHighlight]="true"
                        [forceSelection]="true"
                        [completeOnFocus]="true"
                        [minLength]="1"
                        placeholder="Search"
                        id="banner_id"
                        [dropdown]="true"
                        [suggestions]="filteredAuditBanner"
                        (completeMethod)="filterBanner($event)"
                        formControlName="banner_id"
                    >
                    </p-autoComplete>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="au_level2_id"
                        >Audit Universe <sup>*</sup></label
                    >
                    <p-autoComplete
                        appendTo="body"
                        [autoHighlight]="true"
                        [forceSelection]="true"
                        [completeOnFocus]="true"
                        [minLength]="1"
                        placeholder="Search"
                        id="au_level_2_id"
                        [dropdown]="true"
                        [suggestions]="filteredAuditUniverse"
                        (completeMethod)="filterAU($event)"
                        formControlName="au_level_2_id"
                        [disabled]="isAuditEdit"
                    >
                    </p-autoComplete>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="audit_name">Audit Name <sup>*</sup></label>
                    <input
                        id="audit_name"
                        pInputText
                        formControlName="audit_name"
                    />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="audit_board_id"
                        >Audit Board ID <sup>*</sup></label
                    >
                    <input
                        id="audit_board_id"
                        pInputText
                        formControlName="audit_board_id"
                    />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="quarter">Quarter <sup>*</sup></label>
                    <p-dropdown
                        appendTo="body"
                        id="quarter"
                        [options]="quarterList"
                        formControlName="quarter"
                        optionLabel="quarter"
                        optionValue="code"
                    ></p-dropdown>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="user_access"
                        >User Access <sup class="opacity-0">*</sup></label
                    >
                    <p-multiSelect
                        appendTo="body"
                        id="user_access"
                        [options]="listOfusers"
                        formControlName="user_access_id"
                        optionLabel="fullName"
                        optionValue="userId"
                    ></p-multiSelect>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="acp_audit"
                        >ACP Audit <sup class="opacity-0">*</sup></label
                    >
                    <p-dropdown
                        appendTo="body"
                        id="acp_audit"
                        [options]="acp_auditList"
                        formControlName="acp_audit"
                        optionLabel="acp_audit"
                        optionValue="code"
                    ></p-dropdown>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="results_url"
                        >Result URL <sup class="opacity-0">*</sup></label
                    >
                    <input
                        id="results_url"
                        pInputText
                        formControlName="results_url"
                    />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="review_year">Review Year <sup>*</sup></label>
                    <input
                        type="number"
                        id="review_year"
                        pInputText
                        formControlName="review_year"
                        min="1111"
                        max="9999"
                    />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="start_date">Start Date </label>
                    <p-calendar
                        appendTo="body"
                        id="start_date"
                        formControlName="start_date"
                        showTime="true"
                    ></p-calendar>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="end_date">End Date </label>
                    <p-calendar
                        appendTo="body"
                        id="end_date"
                        formControlName="end_date"
                        showTime="true"
                    ></p-calendar>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="audit_schedule">Audit SCHEDULE</label>
                    <input
                        id="audit_schedule"
                        pInputText
                        formControlName="audit_schedule"
                    />
                </div>
            </form>
        </ng-template>
        <ng-template pTemplate="footer">
            <button
                pButton
                pRipple
                label="Cancel"
                icon="pi pi-times"
                class="p-button-text"
                (click)="hideDialog()"
            ></button>
            <button
                pButton
                pRipple
                label="Save"
                #submitButton
                icon="pi pi-check"
                class="p-button-text"
                [disabled]="auditForm.invalid"
                (click)="saveaudit()"
            ></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog> </p-confirmDialog>
</div>
