<div id="table1">
    <p-tabView>
        <p-tabPanel
            header="Audit"
            tooltip="Click Here For Audit"
            leftIcon="pi pi-circle-fill"
        >
            <app-audit-page
                (auditSelection)="setAuditProgram($event)"
            ></app-audit-page>
        </p-tabPanel>

        <p-tabPanel
            header="Audit Program"
            [disabled]="selectedAudit == null"
            tooltip="Click Here For Audit Program"
            leftIcon="pi pi-credit-card"
        >
            <app-audit-program1
                [audit]="selectedAudit"
                (auditProgramSelection)="setAuditTest($event)"
            ></app-audit-program1>
        </p-tabPanel>

        <p-tabPanel
            header="Audit Test"
            [disabled]="
                selectedAuditProgram == null || selectedAuditProgram.length == 0
            "
            tooltip="Click Here For Audit Test"
            leftIcon="pi pi-clone"
        >
            <app-audit-test
                [auditProgram]="selectedAuditProgram"
                (auditTestSelection)="setAuditTestHistroy($event)"
            ></app-audit-test>
        </p-tabPanel>

        <p-tabPanel
            header="Audit Test History"
            [disabled]="
                selectedAuditTest == null || selectedAuditTest.length == 0
            "
            tooltip="Click Here For Audit Test History"
            leftIcon="pi pi-history"
        >
            <app-audit-test-history
                [audit]="selectedAudit"
                [auditProgram]="selectedAuditProgram"
                [auditTest]="selectedAuditTest"
            ></app-audit-test-history>
        </p-tabPanel>
    </p-tabView>

    <p-confirmDialog></p-confirmDialog>
</div>
